# Ignore
*.csv
.log
.Rapp.history
.RData
.Rhistory
.Rproj.user/
.Rproj.user
*.tif
*.R.save
*.swp

Biomass_core_cache/
cache/
libs/
citations/*.csl

## html cache/files
*_cache/
*_files/

## don't ignore tables needed for manual
!tables/*

## these are downloaded automatically, no point in caching
figures/*Badge.png

CHECKSUMS.txt


Biomass_core2.Rmd
